azulclaro=#5eb2d9
azuloscuro=#003d4c

header
	background azuloscuro
	overflow hidden

	h1
		background azuloscuro
		color white

	.menuuser
		float right
		padding 0 2em 0 0

		a
			color white

nav
	background azulclaro
	li
		display inline-block