.titulo{
	margin-left:60px;
	margin-bottom:20px;
	margin-top:40px;
	font-family: 'Arial';
	font-size: 25px;
}
.contenido{
	display:inline-block;
	padding:20px;
	border:1px solid #aaaaaa;
	border-radius: 20px 0 20px 0;
	min-height:300px;
	width:70%;
	margin-bottom: 20px;
}

.action{
	float:right;
	width:16%;
	padding:10px 1.5%;
}
.action a{
	background: -moz-linear-gradient(center top , #FEFEFE, #DCDCDC) repeat scroll 0 0 #DCDCDC;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #333333;
    font-weight: normal;
    min-width: 0;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}